{{ define "main" }}
    <main class="posts">

        {{- if .Content }}
            <div class="content">{{ .Content }}</div>
        {{- end }}

        {{ if (isset .Params "mainlist") }}
        <h1>{{ .Title }}</h1>
              {{ $data := .Data }}
            <div class="posts-group">
                <div class="post-year">{{ .Data.Singular }}</div>
                <ul class="posts-list">
                    {{ range .Paginator.Pages.ByTitle }}
                        <li class="post-item">
                            <a href="{{ .Page.Permalink }}">
                                <span class="post-title">{{ .Page.Title }}</span>
                                {{ if eq (len .Pages) 1 }}
                                <span class="post-day">{{ len .Pages }} post</span>
                                {{ else }}
                                <span class="post-day">{{ len .Pages }} posts</span>
                                {{ end }}
                            </a>
                        </li>
                    {{- end }}
                </ul>
            </div>
    </main>
    {{ partial "pagelist.html" . }}
        {{ else }}
        <h1>{{ .Title }}</h1>
        {{- if .Pages -}}
            {{- $pages := .Pages.GroupByDate "2006" -}}
            {{- with .Site.Params.section.paginate | default .Site.Params.paginate -}}
                {{- $pages = $.Paginate $pages . -}}
            {{- else -}}
                {{- $pages = .Paginate $pages -}}
            {{- end -}}
            {{- range $pages.PageGroups -}}
            <div class="posts-group">
                <div class="post-year">{{ .Key }}</div>
                <ul class="posts-list">
                {{- range .Pages -}}
                        <li class="post-item">
                            <a href="{{.Permalink}}">
                                <span class="post-title">{{.Title}}</span>
                                <span class="post-day">{{ if .Site.Params.dateformShort }}{{ .Date.Format .Site.Params.dateformShort }}{{ else }}{{ .Date.Format "Jan 2"}}{{ end }} ({{ .ReadingTime }} min.)  </span>
                            </a>
                        </li>
                {{- end -}}
                </ul>
            {{- end -}}
            </div>
        {{- end }}
    </main>
    {{ partial "pagelist.html" . }}
{{ end }}
{{ end }}
