.alert {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}

.info-alert {
  color: #059;
  background-color: #bef;
}
.success-alert {
  color: #270;
  background-color: #dff2bf;
}
.warning-alert {
  color: #9f6000;
  background-color: #feefb3;
}
.error-alert {
  color: #d8000c;
  background-color: #ffbaba;
}
