@use "config" as *;

.container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto 20fr 20fr 20fr var(--sidebar-width);
  grid-template-areas:
    "header header header header header"
    ". main main main sidebar"
    ". comment comment comment ."
    "footer footer footer footer footer";
}
.header {
  background: var(--bg-header);
  padding: 20px;
  grid-area: header;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 100%;
  }

  &__left {
    justify-self: start;
  }

  &__right {
    justify-self: end;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media #{$media-size-phone} {
      flex-direction: row-reverse;
    }
  }

  &__mid {
    .button {
      max-width: 100%;
    }
  }
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
}

#toggleTheme {
  background: none;
}

.theme-toggler {
  fill: currentColor;
}

.unselectable {
  user-select: none;
}

.post,
.posts {
  grid-area: main;
  justify-self: center;
}

.footer {
  color: var(--fg-secondary);
  bottom: 0;
  grid-area: footer;
  justify-items: center;
  text-align: center;
}

.sidebar {
  grid-area: sidebar;
  font-size: smaller;
  .hideTOC,
  .author__bio {
    margin-top: 8.333em;
    position: sticky;
    top: 0.833em;
  }

  .author__img {
    border-radius: 50%;
    padding: 0.556em;
  }
}

.listCont {
  grid-area: main;
}

.m-fadeOut {
  display: none;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.navPagi {
  grid-area: comment;
  text-align-last: justify;
  justify-self: center;
}

.homePage {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 6;
  text-align-last: center;
  justify-self: center;
  margin-top: 18vh;
  margin-bottom: 18vh;
}

.search-container {
  grid-area: main;
}

#comments {
  grid-area: comment;

  .idc-text_noresize,
  .idc-text {
    background: var(--bg) !important;
    color: var(--fg-secondary) !important;
    font-size: clamp(1.125rem, 1rem + 0.4vw, 1.375rem);
  }
}
