@use "config" as *;

body {
  background-color: var(--bg);
  color: var(--fg);
  text-rendering: optimizeLegibility;
}

img {
  display: block;
  max-width: 100%;

  &.left {
    margin-inline-end: auto;
  }

  &.center {
    margin-inline: auto;
  }

  &.right {
    margin-inline-start: auto;
  }
}

figure {
  display: table;
  max-width: 100%;
  margin: 25px 0;

  &.left {
    margin-inline-end: auto;
  }

  &.center {
    margin-inline: auto;
  }

  &.right {
    margin-inline-start: auto;
  }

  figcaption {
    margin-top: 5px;
    opacity: 0.8;

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }
}

code {
  font-display: auto;
  font-feature-settings: normal;
  background: var(--bg-secondary);
  padding: 1px 6px;
  margin: 0 2px;
  border-radius: 5px;
}

pre {
  background: #212020;
  padding: 20px;
  border-radius: 8px;
  overflow: auto;

  @media #{$media-size-phone} {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  code {
    background: none !important;
    color: inherit;
    margin: 0;
    padding: 0;
  }
}

ul,
ol {
  margin-inline-start: 40px;
  padding: 0;

  @media #{$media-size-phone} {
    margin-inline-start: 20px;
  }
}

ol ol {
  list-style-type: lower-alpha;
}

hr {
  width: 100%;
  border: none;
  background: var(--border);
  height: 1px;
}

.hidden {
  display: none;
}

.hide-on-phone {
  @media #{$media-size-phone} {
    display: none;
  }
}

.hide-on-tablet {
  @media #{$media-size-tablet} {
    display: none;
  }
}

// Accessibility
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-weight: bold;
  height: auto;
  width: auto;
  top: 5px;
  inset-inline-start: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  z-index: 100000;
}
