@use "config" as *;

#toggleMenu {
  background: none;
}

.menu {
  background: var(--bg-header);
  border-inline-end: 1px solid;

  @media #{$media-size-phone} {
    position: absolute;
    top: 50px;
    inset-inline-end: 0;
    border: none;
    margin: 0;
    padding: 10px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    font-size: 1rem;
    list-style: none;

    li {
      margin: 0 12px;
    }

    @media #{$media-size-phone} {
      flex-direction: column;
      align-items: flex-start;
      padding: 0;

      li {
        margin: 0;
        padding: 5px;
      }
    }
  }

  &-trigger {
    width: 24px;
    height: 24px;
    fill: currentColor;
    cursor: pointer;
  }

  a {
    display: inline-block;
    margin-inline-end: 15px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:last-of-type {
      margin-inline-end: 0;
    }
  }
}
