#search-query {
  padding: 4px 10px;
  width: 100%;
  height: 31px;
  font-size: 1.6em;
  color: $logo-cursor-color;
  font-weight: bold;
  background-color: $light-background;
  border-radius: 3px 3px 0px 0px;
  border: none;
  outline: none;
  text-align: left;
  display: inline-block;

  .dark-theme & {
    background-color: $dark-background;
  }
}
