@use "sass:list";

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block;
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em;
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-inline-end: 0.4em;
  vertical-align: top;
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle;
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none;
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none;
}

$social-colors: (
  twitter: (#55acee, #2795e9),
  pinterest: (#bd081c, #8c0615),
  facebook: (#3b5998, #2d4373),
  tumblr: (#35465c, #222d3c),
  reddit: (#5f99cf, #3a80c1),
  google: (#dd4b39, #c23321),
  linkedin: (#0077b5, #046293),
  email: (#777, #5e5e5e),
  xing: (#1a7576, #114c4c),
  whatsapp: (#25d366, #1da851),
  hackernews: (#ff6600, #fb6200),
  vk: (#507299, #43648c),
);

@each $name, $colors in $social-colors {
  .resp-sharing-button--#{$name} {
    background-color: list.nth($colors, 1);
    border-color: list.nth($colors, 1);

    &:where(:hover, :active, :focus) {
      background-color: list.nth($colors, 2);
      border-color: list.nth($colors, 2);
    }
  }
}
