@use "sass:math";
@use "config" as *;

html {
  // Fluid from 18px (1.125rem) at 576px to 22px (1.375rem) at 1200px
  font-size: clamp(1.125rem, 1rem + 0.4vw, 1.375rem);
}

body,
input,
textarea,
option,
select {
  line-height: $body-line-height;
  text-rendering: optimizeLegibility !important;
  font-family: $sans-serif;
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
}

p,
input,
textarea,
select,
option {
  font-size: inherit;
}

i,
.i,
em {
  font-style: italic;
}

b,
.b,
strong {
  font-weight: $bold;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  border-bottom: none;
}

@for $index from 1 through 6 {
  h#{$index} {
    font-family: $serif;
    line-height: $heading-line-height;
    font-weight: $bold;
    font-size: $heading-base-size * math.pow($heading-scale-ratio, calc( 7/2 ) - $index);
  }
}

code {
  font-family: $mono;
}

// Modified from: https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/
blockquote {
  background: var(--bg-blockquote);
  border-inline-start: 10px solid var(--border);
  margin-block: 1.5em;
  margin-inline: 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";

  @media #{$media-size-phone} {
    margin: 10px;
    padding: 10px;
  }

  &:before {
    color: var(--border);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-inline-end: 0.25em;
    vertical-align: -0.4em;
  }
  p {
    display: inline;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.post-content {
  .button {
    a {
      text-decoration: none;
      border-bottom: none !important;
    }
  }
  a {
    &[href^="/"],
    &[href*="#{$site-url}"],
    &[href^="#"] {
      border-bottom: var(--link-border) 0.125em solid;
    }

    &:not([href^="/"]):not([href*="#{$site-url}"]):not([href^="#"]) {
      border-bottom: var(--link-external-border) 0.125em solid;
    }
  }
}

#search-query {
  color: var(--link) !important;
}
