<!DOCTYPE html>
<html lang="{{ .Site.Language }}" itemscope itemtype="http://schema.org/WebPage">
    <head>
        {{ partial "head.html" . }}
    </head>

    <body class="{{ if ne $.Site.Params.defaultTheme "light" -}} dark-theme {{- end -}}">
        <a class="screen-reader-text" href="#main-content">Skip to content</a>
        <div class="container">
            {{ partial "header.html" . }}
            {{- $hasMath := false -}}
            {{- if .Params.math -}}
              {{- $hasMath = true -}}
            {{- else -}}
              {{- with .RawContent -}}
                {{- if findRE `(?s)\\\(|\\\[|\$\$|(^|[^\\$])\$[^$\n]+\$` . -}}
                  {{- $hasMath = true -}}
                {{- end -}}
              {{- end -}}
            {{- end -}}
            {{- if $hasMath -}}
            {{ partial "mathjax.html" }}
            {{- end -}}
            {{- if .Site.Params.CommentBox }}
            <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
            {{- end }}
            <div id="main-content" tabindex="-1">
            {{ block "main" . }}{{ end }}
            </div>
            {{ block "footer" . }}
                {{ partial "footer.html" . }}
            {{ end }}
        </div>

        {{ partial "javascript.html" . }}
    </body>
</html>
