<!DOCTYPE html>
<html lang="{{ .Site.Language }}" itemscope itemtype="http://schema.org/WebPage">
    <head>
        {{ partial "head.html" . }}
    </head>

    <body class="{{ if ne $.Site.Params.defaultTheme "light" -}} dark-theme {{- end -}}">
        <div class="container">
            {{ partial "header.html" . }}
            {{ partial "mathjax.html" }}
            {{- if .Site.Params.CommentBox }}
            <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
            {{- end }}
            {{ block "main" . }}{{ end }}
            {{ block "footer" . }}
                {{ partial "footer.html" . }}
            {{ end }}
        </div>

        {{ partial "javascript.html" . }}
    </body>
</html>
