@use "sass:math";
@use "sass:meta";

@mixin mq($value) {
  @if (meta.type-of($value) != number) {
    @error "Sorry, but `#{$value}` is not a valid argument for the mq() mixin.";
  } @else if (math.is-unitless($value)) {
    $value: $value + 0px;
  }

  @media only screen and (min-width: $value) {
    @content;
  }
}
