<div class="pagination__title">
    <span class="pagination__title-h">Comments</span>
    <hr />
</div>
{{- if .Site.DisqusShortname }}
    {{ template "_internal/disqus.html" . }}
{{- else if .Site.Params.Utterances }}
    {{ partial "utterances.html" . }}
{{- else if .Site.Params.IntenseDebate }}
    {{ partial "intensedebate.html" . }}
{{- else if .Site.Params.GraphComments }}
    {{ partial "graphcomments.html" . }}
{{- else if .Site.Params.CommentBox }}
    {{ partial "commentbox.html" . }}
{{- else if .Site.Params.RemarkBox }}
    {{ partial "remarkbox.html" . }}
{{- end }}
