{{- define "main" -}}
<main class="posts">
  <h1 class="post-title">Search</h1>

  <section class="search-container">
    <input type="text" id="search-query" placeholder="Type to search..." aria-label="Search box" />

    <div class="search-filters">
      <span class="search-filters__label">Search in:</span>
      <div class="search-filters__options">
        {{ range site.Params.search.searchableSections }}
          <div class="search-filters__option">
            <input type="checkbox" id="search-{{ . }}" name="search-section" value="{{ . }}" checked>
            <label for="search-{{ . }}">{{ . | humanize | title }}</label>
          </div>
        {{ end }}
      </div>
    </div>

    <ul id="search-results" class="posts-list">
      </ul>
  </section>

  <template id="search-result-template">
    <li class="post-item">
      <a href="${link}">
        <span class="post-title">${title}</span>
        <span class="post-day">${date} (${readingTime} min.)</span>
      </a>
    </li>
  </template>

</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.4.6/fuse.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js" crossorigin="anonymous"></script>
<script src={{ "js/fuse-config.js" | relURL }}></script>
{{- end -}}
